# Pandas Exercise: Merging (MPG Cars)

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the first dataset [cars1](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/Merge/Auto_MPG/cars1.csv) and [cars2](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/Merge/Auto_MPG/cars2.csv).

   ### Step 3. Assign each to a to a variable called cars1 and cars2

In [4]:
cars1=pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv')
cars2=pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv')

### Step 4. Ops it seems our first dataset has some unnamed blank columns, fix cars1

In [11]:
cars1=cars1.iloc[:,:9]
cars1.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino

### Step 5. What is the number of observations in each dataset?

In [18]:
print(cars1.size,cars2.size)

1782 1800

### Step 6. Join cars1 and cars2 into a single DataFrame called cars

In [24]:
cars=pd.concat([cars1,cars2])

### Step 7. Ops there is a column missing, called owners. Create a random number Series from 15,000 to 73,000.

In [35]:
s1 = pd.Series(np.random.randint(15000,73001,size=398))

### Step 8. Add the column owners to cars

In [36]:
cars['owners'] =s1

In [39]:
cars.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,owners
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu,40936
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320,58788
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite,15783
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst,63896
4,17.0,8,302,140,3449,10.5,70,1,ford torino,41916