1. A physician is evaluating a new diet for her patients with a family history of heart disease. To test the effectiveness of this diet, 16 patients are placed on the diet for 6 months. Their weights and triglyceride levels are measured before and after the study, and the physician wants to know if either set of measurements has changed. (Data set: dietstudy.csv)

In [2]:
import pandas as pd
import numpy as np
from scipy import stats

data=pd.read_csv(r'C:\siddharth\MCL\analytix\7. Basic Stats - Case Study-1\dietstudy.csv')

In [4]:
data.head()

   patid  age  gender  tg0  tg1  tg2  tg3  tg4  wgt0  wgt1  wgt2  wgt3  wgt4
0      1   45    Male  180  148  106  113  100   198   196   193   188   192
1      2   56    Male  139   94  119   75   92   237   233   232   228   225
2      3   50    Male  152  185   86  149  118   233   231   229   228   226
3      4   46  Female  112  145  136  149   82   179   181   177   174   172
4      5   64    Male  156  104  157   79   97   219   217   215   213   214

In [5]:
tgb=data['tg0']
tga=data['tg4']
wgtb=data['wgt0']
wgta=data['wgt4']

In [6]:
stats.ttest_rel(tgb,tga)

Ttest_relResult(statistic=1.2000008533342437, pvalue=0.24874946576903698)

H0: tg0=tg4
H1: tg0 <> tg4
test: 2 sample paired test (same population)
pvalue>.05 >> H0 holds >>tg is not changing

In [7]:
stats.ttest_rel(wgtb,wgta)

Ttest_relResult(statistic=11.174521688532522, pvalue=1.137689414996614e-08)

H0: wgt0=wgt4
H1: wgt0 <> wgt4
test: 2 sample paired test (same population)
pvalue<.05 
    >> H0 rejects 
    >>wgt is changing 
    >> stat +ve >> right tailed test 
    >>wgt0< wgt4